@use "@/styles/mixins" as *;

.carouselContainer {
  max-width: 154px;
  overflow: hidden;
}

.carouselBody {
  transition: transform 0.5s ease-in-out;
}

@include md {
  .carouselContainer {
    max-width: 415px;
  }
  .carouselBody img {
    width: 130px;
    height: 150px;
  }
}

@include lg {
  .carouselContainer {
    max-width: 757px;
  }
  .carouselBody img {
    width: 138px;
    height: 189px;
  }
}

@include xl {
  .carouselContainer {
    max-width: 900px;
  }
  .carouselBody img {
    width: 170px;
    height: 243px;
  }
}
