@use "@/styles/variables";
@use "@/styles/mixins" as *;

.categoryImg {
  object-fit: cover;
  width: 70px;
  height: 70px;
}

.categoryContainer {
  margin: 0;
}

@include lg {
  .categoryContainer {
    padding: 0 16px 0 0;
  }
}
